@font-face {
     font-family: 'Comfortaa';
     src: url(/Comfortaa-Regular.ttf);
}

* {
     font-family: 'Inter', sans-serif;
     margin: 0;
     padding: 0;
}

h1 {
     font-family: 'Comfortaa';
     font-size: 40px;
     font-weight: bold;
     line-height: 1;
}

h2 {
     font-family: 'Comfortaa';
     font-size: 18px;
     font-weight: bold;
     line-height: 1;
}

h3 {
     font-size: 14px;
}

p {
     font-size: 12px;
}

a {
     font-family: inherit;
     color: inherit;
     text-decoration: inherit;
}

.webgl {
     position: fixed;
     top: 0;
     left: 0;
     outline: none;
}

#nav {
     position: absolute;
     padding-left: 5px;
     padding-top: 20px;
     padding-bottom: 20px;
     height: calc(100vh - 40px);
     min-height: 500px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;

     transform: translateX(-100px);
     opacity: 0;
     transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
          opacity 0.6s ease;
}

.nav-button {
     padding: 10px 5px;
     writing-mode: sideways-lr;
     color: white;
}

#name {
     position: absolute;
     top: 5px;
     left: 200px;
     color: rgb(255, 255, 255);

     transform: translateY(-100px);
     opacity: 0;
     transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
          opacity 0.6s ease;
}

#overlay-content {
     height: 100%;
     margin: none;
     padding-top: none;
     overflow-y: auto;
     padding-right: 6px;
}

#overlay-content h1 {
     margin: 20px 0px 20px 20px;
     display: flex;
     align-items: center;
}

#overlay-content p {
     margin: 0px 0px 20px 20px;
}

#overlay {
     position: fixed;
     height: 100vh;
     right: 0vw;
     color: rgb(0, 0, 0);
     overflow: hidden;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;

     transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1),
          transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
          opacity 0.6s ease;
}

#overlay::before {
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
}

#overlay::after {
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
}

.overlay--hidden {
     width: 0;
     opacity: 0;
}

.overlay--panel {
     width: 40vw;
     
}

.overlay--expanded {
     width: 100vw;
}

.show-ui {
     transform: translate(0, 0) !important;
     opacity: 1 !important;
}

.icon {
     position: fixed;
     right: 33px;
     background-color: rgba(255, 255, 255, 0.25);
     border-radius: 3px;
}



/*VISUAL GUIDE FROM APPLE LIQUID GLASS UI:*/

/*https: //www.apple.com/newsroom/images/2025/06/apple-introduces-a-delightful-and-elegant-new-software-design/article/Apple-WWDC25-Liquid-Glass-Icon-Composer-250609_big.jpg.large.jpg*/

.glass-card {
     border-radius: 20px;
     isolation: isolate;
     box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
     backdrop-filter: blur(4px);
     -webkit-backdrop-filter: blur(4px);
     border: 1px solid rgba(255, 255, 255, 0.6);
     background: rgba(255, 255, 255, 0.1);
}

.glass-card::before {
     content: '';
     position: absolute;
     inset: 0;
     z-index: -1;
     border-radius: 20px;
     box-shadow: inset 0 0 20px -5px rgba(255, 255, 255, 0.7);
     background: rgba(255, 255, 255, 0.05);
}

.glass-card::after {
     content: '';
     position: absolute;
     inset: 0;
     z-index: -2;
     border-radius: 20px;
     backdrop-filter: blur(4px);
     isolation: isolate;
}