* {
     font-family: 'Inter', sans-serif;
     margin: 0;
     padding: 0;
}

h1 {
     font-size: 24px;
     font-weight: bold;
     line-height: 1;
}

h3 {
     font-size: 14px;
}

.webgl {
     position: fixed;
     top: 0;
     left: 0;
     outline: none;
}

#nav {
     position: absolute;
     padding-left: 5px;
     padding-top: 30px;
     padding-bottom: 30px;
     height: calc(100vh - 60px);
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.nav-button {
     writing-mode: sideways-lr;
     color: white;

}

#name {
     position: absolute;
     top: 5px;
     left: 200px;
     color: black;
}

#overlay-content {
     height: 100%;
     margin: none;
     padding-top: none;
     overflow-y: auto;
     padding-right: 6px;
}

#overlay {
     position: fixed;
     height: calc(100vh - 40px);
     padding: 20px 0px 20px 20px;
     right: 0vw;
     width: calc(40vw - 40px);
     background: rgba(255, 255, 255, 0.4);
     backdrop-filter: blur(6px);
     color: rgb(41, 41, 41);
     display: none;
     overflow: hidden;
}

#scroll-space {
     height: 300vh;
     /* controls scroll length */
}



/*VISUAL GUIDE FROM APPLE LIQUID GLASS UI:*/

/*https: //www.apple.com/newsroom/images/2025/06/apple-introduces-a-delightful-and-elegant-new-software-design/article/Apple-WWDC25-Liquid-Glass-Icon-Composer-250609_big.jpg.large.jpg*/